$purple: #4338ca;
$green: #0d9488;
$orange: #d97706;
$blue: #0284c7;
$grey: #b7b7b7;

#root,
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: #eeeeee;
}

h1 {
  margin: 0;
  font-size: 1.8rem;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: $purple;
  }
}

.purple {
  color: $purple;
}

.blue {
  color: $blue;
}
.orange {
  color: $orange;
}
.green {
  color: $green;
}

.btn {
  //background: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1rem;

  &:hover {
    filter: brightness(0.75);
  }
}

.btn-group {
  button {
    margin-right: 10px;
  }
}

.bold {
  font-weight: 700;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  box-sizing: border-box;
  background: #fff;

  .links {
    padding: 0;
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 1rem;
  }
}

.sign {
  display: flex;
  margin-top: 70px;
  justify-content: center;
  align-items: center;

  main {
    background: #fff;
    box-sizing: border-box;
    padding: 50px 50px;

    h2 {
      text-align: center;
      font-size: 1.8rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        border: 1px solid #b7b7b7;
        background: #eeeeee;
        color: #000;
        font-size: 1rem;
        padding: 10px 20px;
      }
    }
  }
}

.articles {
  display: flex;
  box-sizing: border-box;
  padding: 30px 50px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;

  .article-card {
    margin: 20px 0;
    img {
      width: 500px;
      height: 350px;
      object-fit: cover;
    }
  }
}
.orders,
.carts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 50px 200px;
}

.order,
.cart {
  width: 100%;
  padding: 50px 30px;
  box-sizing: border-box;
  background: #fff;
}

.carts {
  h2 {
    background-color: #fff;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    font-weight: 600;
    font-size: 2rem;
  }
  .article-inline {
    border-bottom: none;
    max-width: 500px;
  }

  .cart-product {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $grey;
    box-sizing: border-box;
  }
}
.cart-quantity {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 2px;

  button {
    background: none;
    border: none;
    color: #000;
  }
}

.orders {
  .order {
    width: 100%;
    padding: 50px 30px;
    box-sizing: border-box;
    background: #fff;

    .order-id {
      text-align: center;
      font-weight: 600;
      font-size: 2rem;
      margin: 0;
    }

    .order-header {
      .order-info {
        display: flex;
        justify-content: space-between;
      }
    }
    .order-main {
      display: block;
    }

    .order-button {
      display: block;
      width: 100%;
      border: none;
      background: #f7f6f9;
      border-radius: 15px;
      padding: 15px 20px;
      font-weight: 600;
      position: relative;
      text-align: left;
      font-size: 1rem;

      &:after {
        position: absolute;
        right: 20px;
        content: "\f106";
        font-family: "FontAwesome";
      }
    }

    .order-button.close-icon {
      &:after {
        content: "\f107";
      }
    }

    .close {
      display: none;
    }

    .order-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
    }
  }
}

.article-inline {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid $grey;

  img {
    width: 100px;
    border-radius: 10px;
  }

  .article-inline-details {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h4 {
      margin: 0;
      font-weight: 600;
      font-size: 1rem;
    }

    p {
      font-size: 1rem;
      margin: 0;
    }

    .article-inline-brand {
      font-size: 0.8rem;
      color: $grey;
    }
  }
}

.carts-footer {
  display: flex;
  background: #fff;
  width: 100%;
  justify-content: center;
  padding-bottom: 30px;
}

.modal {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  .modal-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 500px;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    border: 1px solid #000;

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        border: 1px solid #b7b7b7;
        background: #eeeeee;
        color: #000;
        font-size: 1rem;
        padding: 10px 20px;
      }
    }

    .btn-group {
      margin-top: 20px;
      gap: 10px;
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 1115px) {
  .articles {
    flex-direction: column;
    align-items: center;
  }

  .orders .order .order-id {
    text-align: left;
  }

  .order-info {
    flex-direction: column;
    p {
      margin-bottom: 5px;
    }
  }
  .orders .order .order-button {
    margin-top: 20px;
  }

  .carts,
  .orders {
    padding: 50px 100px;
  }
}

@media screen and (max-width: 900px) {
  .carts,
  .orders {
    padding: 50px 50px;
  }

  .carts .cart-product {
    gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  .articles {
    .article-card {
      width: 100%;
      img {
        width: 100%;
        height: 250px;
      }
    }
  }

  .cart-quantity {
    font-size: 0.8rem;
  }

  .carts,
  .orders {
    padding: 50px 10px 50px 10px;
  }

  /*.orders .order */
  .article-inline img {
    width: 70px;
  }

  /*.orders .order */
  .article-inline .article-inline-details .article-inline-name {
    font-size: 1rem;
  }

  .order-info p,
  .article-inline .article-inline-details p.article-inline-price,
  .orders .order .order-button {
    font-size: 0.8rem;
  }

  .orders .order .order-id {
    text-align: center;
    font-size: 1.5rem;
  }

  .orders .order,
  .carts .cart {
    padding-bottom: 10px;
  }

  .orders .order:last-child {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 400px) {
  .carts .cart-product {
    gap: 25px;
  }
  .article-inline .article-inline-details .article-inline-name {
    font-size: 0.8rem;
  }
}
